@use "sass:map";
@use "../settings" as *;

@if map.get($modules, "content/link") {
  /**
   * Link
   */

  #{$parent-selector} a {
    background: transparent;
    color: var(#{$css-var-prefix}color);
    &[role="button"] {
      display: inline-block;
    }
  }

  #{$parent-selector} :where(a:not([role="button"]):not([role="menuitem"])) {
    outline: none;
    background-color: var(#{$css-var-prefix}background-color);
    color: var(#{$css-var-prefix}primary);
    text-decoration: var(#{$css-var-prefix}text-decoration);
    text-decoration-color: var(#{$css-var-prefix}primary-underline);
    text-underline-offset: 0.125em;

    @if $enable-transitions {
      transition:
        background-color var(#{$css-var-prefix}transition),
        color var(#{$css-var-prefix}transition),
        text-decoration var(#{$css-var-prefix}transition),
        box-shadow var(#{$css-var-prefix}transition);
    }

    &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
      color: var(#{$css-var-prefix}primary-hover);
      text-decoration: underline;
      text-decoration-color: var(#{$css-var-prefix}primary-hover-underline);
    }

    &:focus-visible {
      box-shadow: 0 0 0 var(#{$css-var-prefix}outline-width) var(#{$css-var-prefix}primary-focus);
    }

    @if $enable-classes {
      // Secondary
      &.secondary {
        color: var(#{$css-var-prefix}secondary);
        text-decoration-color: var(#{$css-var-prefix}secondary-underline);

        &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
          color: var(#{$css-var-prefix}secondary-hover);
          text-decoration-color: var(#{$css-var-prefix}secondary-hover-underline);
        }
      }

      // Contrast
      &.contrast {
        color: var(#{$css-var-prefix}contrast);
        text-decoration-color: var(#{$css-var-prefix}contrast-underline);

        &:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
          color: var(#{$css-var-prefix}contrast-hover);
          text-decoration-color: var(#{$css-var-prefix}contrast-hover-underline);
        }
      }
    }
  }
}
